@import "tailwindcss";

@theme {
    /* custom blues */
    --color-blue-950: #10141E;
    --color-blue-900: #161D2F;
    --color-blue-500: #5A698F;

    /* custom red */
    --color-red-500: #FC4747;
}